*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI,sans-serif;
}

body{

background:#eef5f8;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

}

.login{

background:white;

width:380px;

padding:40px;

border-radius:18px;

box-shadow:0 15px 40px rgba(0,0,0,.15);

text-align:center;

}

.logo{

width:180px;

margin-bottom:25px;

}

h2{

color:#0B5A73;

margin-bottom:10px;

}

p{

color:#777;

margin-bottom:25px;

}

input{

width:100%;

padding:15px;

margin:10px 0;

border:1px solid #ccc;

border-radius:10px;

font-size:16px;

}

input:focus{

outline:none;

border-color:#37B34A;

}

button{

width:100%;

padding:15px;

margin-top:15px;

background:#37B34A;

color:white;

border:none;

border-radius:10px;

font-size:17px;

font-weight:bold;

cursor:pointer;

}

button:hover{

background:#2f9b41;

}

a{

display:block;

margin-top:20px;

color:#0B5A73;

text-decoration:none;

font-size:15px;

}